h1{
    font-family: 'Abril Fatface', cursive;
}

.line{
   max-height: 2px;
   background-color: #E7F6F2;
   min-width: 300px; 
}

.image{
    background-color: #E7F6F2;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    background-color: #E7F6F2;
    width: 400px;
    min-height:500px;
    max-height: 500px;
}